.AdvertListTiles {
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 10px;
    justify-items: center;
    position: relative;
}

.AdvertListDetail {
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

.LoadingList {
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoadingList__Spinner {
    height: 150px;
    width: 150px;
    justify-self: center;
    align-self: center;
    display: block;
}

.LoadingList__Text {
    color: var(--main-color-dark);
    letter-spacing: .35px;
    text-transform: lowercase;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}