.Section__Content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Section__Content .Content__Title { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 400; 
    width: 100%;
}

.Section__Content .Content__Title .Counter { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
    text-transform: uppercase;
}

.Section__Content .Content__Title .Counter span { 
    font-size: 2rem;
}

.Section__Content .Content__Data { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.5rem 0;
    color: #607D8B;
}

.Section__Content .Text {
    max-width: 70%;
}

.Section__Content .Button__AddProduct {
    border-radius: 15px;
    background-color: var(--main-color);
    text-transform: capitalize;
    align-self: flex-end;
}

.Section__Content .Button__AddProduct:hover {
    background-color: var(--main-color-dark);
}
