/* Section */
.Main__Section.Chat {
    max-height: 100%;
}

.Main__Section.Chat .ChatPanel {
    max-height: calc(100vh - 150px);
}

.Main__Section.Chat {
    max-height: 100%;
}

.Main__Section.Chat .Section__Content .Text { display: none; }

/* Media queries */
@media only screen and (min-width : 800px) {
    .Main__Section.Chat .Section__Content .Text { display: block; }
}