<!-- Footer -->
<div class='container'>
    <div class='footer-content'>
        <p><%=__('App created by')%> <a class='link' href='https://www.laestanciaazul.com/'> Ismael Bernal</a></p>
        <p><%=__('Student of the Keepcoding Bootcamp Fullstack Web Development VII Edición')%></a></p>
    </div>
    <div class='social'>
        <a class='social-icon social-icon--img' href='https://laestanciaazul.com'>
            <i class='fas fa-home social-icon--home'></i>
        </a>   
        <a class='social-icon' href='https://github.com/IsmaelB83'>
            <i class='fab fa-github social-icon--g  ithub'></i>
        </a>
        <a class='social-icon' href='https://www.linkedin.com/in/ismael-bernal-10497a51/'>
            <i class='fab fa-twitter social-icon--twitter'></i>
        </a>
        <a class='social-icon' href='https://twitter.com/Ismab83'>
            <i class='fab fa-linkedin social-icon--linkedin'></i>
        </a>
    </div>
</div>