<title>Nodepop</title>
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Nodepop 2.0 - Bootcamp Keepcoding Fullstack Web Development">
<meta name="author" content="Ismael Bernal">
<!-- Favicon -->
<link rel='icon' type='image/png' sizes='32x32' href='/images/favicon.png'>
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<!-- CSS -->
<link href='/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet' />
<link href='/css/style.css' rel='stylesheet'/>