<!-- Navbar -->
<nav class='navbar navbar-dark bg-dark navbar-expand-lg fixed-top'>
    <div class='container'>
        <a class='navbar-brand' href='/'>
            <img src='/images/static/logo.png' alt='logo'/>
        </a>
        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav mr-auto'>
                <li class='nav-item <%= active==='home'?'active':'' %>'>
                    <a class='nav-link' href='/'>Home<span class='sr-only'>(current)</span></a>
                </li>
            </ul>
            <ul class='navbar-nav navbar-nav--right'>
                <% getLocales().forEach( locale => { %>
                <li class='nav-item'>
                    <a class='nav-link' href='/user/change-locale/<%=locale%>'><%= locale %></a>
                </li>
                <% }); %>
                <li class='nav-item'>
                    <a class='nav-link nav-link--button js--logout' href='/user/logout'><i class="fas fa-sign-out-alt"></i><small> logout</small></a>
                </li>
            </ul>
        </div>
    </div>
</nav>