/* Card list style */
.CardList {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 150ms ease-in;
    padding: 3px 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    background-color: white;
}

.CardList:hover {transform: translateY(-2px); box-shadow: 2px 2px 2px rgba(0, 0, 0, .3); }

/* Header image, type and price */
.CardList__Header {
    min-width: 90px;
    max-width: 35%;
    height: 125px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    font-size: .7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.CardList__Header .CardImage__Image { object-position: center center; }
.CardList__Header .AdvertChip {
    position: absolute;
    bottom: .25rem;
    left: .25rem;
    z-index: 999;
}

.CardList__Price { 
    position: absolute;
    top: .15rem;
    left: .25rem;
    padding: .2rem .4rem;
    background-color: var(--main-color);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .30);
    color: white;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    font-size: .8rem; 
    line-height: .9rem;
    z-index: 150;
}

/* Rest of the card */
.CardList__Body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    padding: .5rem 0 .5rem .5rem;
}

/* Title, date and price*/
.CardList__Content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    font-size: 1.15rem;
}

.CardList__Content .CardList__Title {color: var(--main-gray);}
.CardList__Content .CardList__Title h2 {font-size: 1em;}
.CardList__Content .CardList__Date {font-size: .6em; color: var(--dark-grey);}
.CardList__Content .CardList__Date {font-size: .6em; color: var(--dark-grey);}
.CardList__Content .CardTags {margin-top: .4rem; }

/* Footer actions and author*/
.CardList__Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.CardList__Footer .CardList__Favorite { min-width: 0; }
.CardList__Buttons { display: flex; flex-direction: row; justify-content: flex-start; }
.CardList__Buttons .ButtonIcon { margin-left: 5px;}
.CardList__Buttons .ButtonIcon:first-child { margin-left: 0; }

@media only screen and (min-width : 600px) {
    .CardList__Header {
        max-width: 30%;
    }
}

@media only screen and (min-width : 1000px) {
    .CardList__Header {
        max-width: 200px;
    }
}