/* Standard button icon */
.ButtonIcon {
    transition: 300ms all ease-in; 
    cursor: pointer;
    color: black;
    background-color: white;
    border: 1px solid var(--light-grey);
    padding:.35rem .5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    outline: none;
}

.ButtonIcon--disabled {
    background-color: var(--light-grey);
    color: white;
    cursor: not-allowed;
    opacity: .5;
}

/* Chat and favorites button */
.ButtonIcon__Chat:hover { color: var(--main-color); }
.ButtonIcon__Favorite:hover { color: red; }
.ButtonIcon__Favorite.ButtonIcon__Favorite--Off { color: black; }
.ButtonIcon__Favorite.ButtonIcon__Favorite--On { color: red; }

/* Coloured buttons */
.ButtonIcon__ToGray:hover:not(.ButtonIcon--disabled) { 
    background-color: var(--dark-grey); 
    color: white; 
}

.ButtonIcon__ToGreen:hover:not(.ButtonIcon--disabled) { 
    background-color: var(--main-color); 
    color: white; 
}

.ButtonIcon__ToBlue:hover:not(.ButtonIcon--disabled),
.ButtonIcon__ToBlue.ButtonIcon--On:not(.ButtonIcon--disabled) { 
    background-color: var(--light-blue); 
    color: white; 
}

.ButtonIcon__ToRed:hover:not(.ButtonIcon--disabled), 
.ButtonIcon__ToRed.ButtonIcon--On:not(.ButtonIcon--disabled) { 
    background-color: var(--light-red); 
    color: white; 
}