<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Resetear password de usuario</title>
    <style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    h2 {
        font-size: 3rem;
        text-align: center;
    }

    a, .token {
        margin-top: 2rem;
        text-align: center;
        display: block;
        padding: 1.5rem 0;
        color: black;
        background-color: #fdd835;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
    }

    .token {
        text-transform: lowercase;
    }

    p {
        line-height: 2;
    }
    </style>
</head>
<body>
    <h2>Resetar password</h2>
    <p>Utiliza el siguiente enlace para restear su contraseña</p>
    <a href="<%= url%>"> Ir a resetear contraseña</a>
    <p>Si no solicitaste crear la cuenta, puedes ignorar este mail</p>
</body>