.AdvertCard {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
}

.AdvertCard__Header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: .8rem .8rem 0 .8rem;
    height: 70px;
}

.AdvertCard__HeaderTitle {
    height: 100%;
}

.AdvertCard__Header img {
    width: 28px;
    height: 28px;
    margin-right: .6rem;
}

.AdvertCard__Header h2 {
    text-transform: uppercase;
    font-size: 1.1rem; 
    line-height: 1.2rem;
}

.AdvertCard__Date { 
    color: rgba(0, 0, 0, 0.75);
    font-size: .7rem; 
    line-height: .85rem;
}

.AdvertCard__Media {
    position: relative;
    text-align: center;
    height: 200px;
}

.AdvertCard__Media img {
    height: 90%;
    width: auto;
    max-width: 95%;
    border-radius: 10px;
}

.AdvertCard__Status {
    position: absolute;
    bottom: 0;
    left: 10px;
    height: 50px !important;
}

.AdvertCard__Price {
    position: absolute;
    padding: .4rem .5rem;
    bottom: 1rem;
    right: 1rem;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid var(--main-color);
    border-radius: 3px;
    color: white;
    box-shadow: 2px 2px 10px black;
}

.AdvertCard__Currency {
    margin-left: 5px;
    font-size: 1.15em;
    font-weight: 700;
}

.AdvertCard__Footer {
    padding: .8rem;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.AdvertCard__Header .AdvertCard__Link,
.AdvertCard__FooterActions .AdvertCard__Link {
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
    transition: all .2s ease;
}

.AdvertCard__Header .AdvertCard__Link:hover,
.AdvertCard__FooterActions .AdvertCard__Link:hover {
    color: var(--main-color);
}

.AdvertCard__FooterActions .AdvertCard__Link:first-child {
    margin-right: 10px;
}

.Ad__Tags .Ad__Tag:last-child {
    margin-right: 0;
}