.AdvertCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .30);
    min-width: 280px;
    max-width: 300px;
    height: 350px;
    overflow: hidden;
    transition: 100ms all ease-in;
}

.AdvertCard:hover {
    transform: translateY(-1px);
}

.AdvertCard__Header {
    position: relative;
    height: 175px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.AdvertCard__Header .AdvertCard_Chips {
    position: absolute;
    top: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    z-index: 1;
}

.AdvertCard__Header img {
    z-index: 0;
    filter: contrast(80%);
    height: 100%;
    width: 100%;
}

.AdvertCard__Content {
    width: 100%;
    padding: 1rem 1rem .6rem 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.AdvertCard__Content .AdvertCard__ContentHeader {
    text-align: center;
    flex-grow: 1;
}

.AdvertCard__ContentHeader .AdvertCard__Date {
    font-size: .8rem;
    color: var(--dark-grey);
}

.AdvertCard__ContentHeader .AdvertCard__Title {
    color: var(--main-gray);
}

.AdvertCard__ContentHeader .AdvertCard__Title h2 {
    margin-top: .25rem;
    font-size: 1.5rem;
}


.AdvertCard__Content .AdvertCard__ContentChips {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.AdvertCard__Content .AdvertCard__ContentChips .AdvertChip:not(:first-child) { margin-left: .2rem; }

.AdvertCard__Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 .75rem .5rem .75rem;
}

.AdvertCard__Footer .AdvertCard__Price { font-size: 1rem; }
.AdvertCard__Footer .AdvertCard__Price .AdvertCard__Currency { font-size: 1.15em; }

.AdvertCard .AdvertCard__Link {
    cursor: pointer !important;
    font-weight: bold;
    color: var(--main-color-dark);
    color: bl
}