.AdvertDetail {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.25rem;
    max-width: 1000px;
    width: 100%;
}

/* Photo */
.AdvertDetail__Photo {
    display: flex;
    flex-direction: row;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 5px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.AdvertDetail__Photo:hover { cursor: pointer; }

.AdvertDetail__Photo--overlay {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    background-color: rgba(0, 0, 0, .4);
    transition: all 300ms ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

.AdvertDetail__Photo--overlay .AdvertChip {
    font-size: 2rem;
    padding: .5rem !important;
    height: 3.5rem;
    background-color: rgba(255, 255, 255, .8);
}

.AdvertDetail__Photo--overlay .AdvertChip svg {
    height: 30px;
    width: 30px;
}

.AdvertDetail__Photo img {
    width: auto;
    max-height: 250px;
    transition: .3s all ease;
}

/* Content */
.AdvertDetail__Content {
    display: grid;
    grid-gap: 1rem;
}

.AdvertDetail__Content > .AdvertChip { max-width: 80px; }
.AdvertDetail__Content .AdvertDetail__Title { font-size: 2rem; font-weight: 300; }
.AdvertDetail__Content .AdvertDetail__Date { font-size: .9rem; font-weight: 300; }
.AdvertDetail__Content .AdvertDetail__Description { font-size: 1rem; }
.AdvertDetail__Content .AdvertDetail__Tags .AdvertChip:not(:first-child) { margin-left: 4px; }

/* Footer del content */
.AdvertDetail__Content .AdvertDetail__Footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--light-grey);
    margin-top: .25rem;
    padding-top: .5rem;
}

.AdvertDetail__AuthorAvatar a div { 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.AdvertDetail__AuthorAvatar a span { color: var(--main-color-dark); margin-left: 5px; }
.AdvertDetail__AuthorAvatar a:hover span { font-weight: bold; }

.AdvertDetail__Price {
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 300;
}

.AdvertDetail__Price span { font-size: 1.2em; }

/* Footer de botones */
.AdvertDetail__Buttons {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
}

@media only screen and (min-width : 400px) {
    .AdvertDetail__Buttons { grid-template-columns: 1fr 1fr }
}

@media only screen and (min-width : 600px) {
    .AdvertDetail { grid-template-columns: 1fr 1fr; width: 90%; }   
    .AdvertDetail__Buttons { grid-column: span 2; }
}

@media only screen and (min-width : 1000px) {
    .AdvertDetail { 
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 2rem;
        width: 90%; 
    }

    .AdvertDetail__Photo img { 
        max-height: 100%;
        height: 100%; 
    }

    .AdvertDetail__Buttons { 
        grid-column: span 3; 
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

    }

    .AdvertDetail__Buttons .ButtonWc:not(:last-child){ margin-right: 5px; }
}