.ProfileForm {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.25rem;
    max-width: 1000px;
}

/* Photo */
.ProfileForm__Photo {
    display: flex;
    flex-direction: row;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 5px;
    width: 100%;
    align-items: center;
}

.ProfileForm__Photo:hover { cursor: pointer; }

.ProfileForm__Photo--overlay {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: all 300ms ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

.ProfileForm__Photo:hover .ProfileForm__Photo--overlay { opacity: 1; }

.ProfileForm__Photo img {
    width: 100%;
    max-height: 250px;
    transition: .3s all ease;
}

/* Inputs */
.ProfileForm__Inputs {
    display: grid;
    grid-gap: 1rem;
}

.ProfileForm__Password { 
    margin: 1rem 0 .5rem 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1.25rem;
    display: grid;
    grid-gap: 1rem;
    position: relative;
}

.ProfileForm__Password .Title { 
    position: absolute;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    padding: .25rem .4rem;
    top: -12px;
    left: 15px;
    font-size: .7rem;
    text-transform: uppercase;
    font-weight: bold;
}

.ProfileForm__Password .InputForm:nth-child(2) {
    margin-top: .5rem;
}

.ProfileForm__Buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

.ProfileForm__Buttons button:first-child { grid-column: span 2; }

@media only screen and (min-width : 500px) {
    .ProfileForm__Buttons { grid-template-columns: 1fr 1fr; grid-gap: 10px; }
    .ProfileForm__Buttons button:first-child { grid-column: span 2; }
}

@media only screen and (min-width : 700px) {
    .ProfileForm { width: 500px; }   
}

@media only screen and (min-width : 900px) {
    .ProfileForm { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        width: 90%; 
    }

    .ProfileForm__Photo img { 
        max-height: 100%;
        height: 100%; 
    }
    
    .ProfileForm__Buttons {
        grid-column: span 2;
    }
}