.AdvertEditForm {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.25rem;
    max-width: 1000px;
}

/* Photo */
.AdvertEditForm__Photo {
    display: flex;
    flex-direction: row;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 5px;
    width: 100%;
    align-items: center;
}

.AdvertEditForm__Photo:hover { cursor: pointer; }

.AdvertEditForm__Photo--overlay {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: all 300ms ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

.AdvertEditForm__Photo:hover .AdvertEditForm__Photo--overlay { opacity: 1; }

.AdvertEditForm__Photo img {
    width: 100%;
    max-height: 250px;
    transition: .3s all ease;
}

/* Inputs */
.AdvertEditForm__Inputs {
    display: grid;
    grid-gap: 1rem;
}

.AdvertEditForm__Buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

@media only screen and (min-width : 700px) {
    .AdvertEditForm { width: 500px; }   
}

@media only screen and (min-width : 900px) {
    .AdvertEditForm { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        width: 90%; 
    }

    .AdvertEditForm__Photo img { 
        max-height: 100%;
        height: 100%; 
    }
    
    .AdvertEditForm__Buttons {
        grid-column: span 2;
        grid-template-columns: 1fr 1fr;
    }
}