/* Main */
.Chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* User*/
.Chat__User {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem .75rem 1rem;
    align-items: center;
}

.Chat__User .Chat__ClickBack {
    margin-right: 10px;
    color: var(--main-color);
    cursor: pointer;
}

@media only screen and (min-width : 800px) {
    .Chat__User .Chat__ClickBack { display: none; }
}

.Chat__User .Chat__Status { 
    display: flex;
    flex-direction: row;
    font-size: .9em;
    align-items: center;
}

.Chat__User .Chat__Status svg { height: 18px; }
.Chat__User .Chat__Status--online svg { color: green; }

/* Advert name */
.Chat .Chat__Name {
    border-bottom: 1px solid #eceff1;
    padding: 0 1rem .5rem 1rem;
    font-weight: bold;
}

/* Messages */
.Chat__Messages {
    padding: 1rem;
    display: flex;    
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

/* Input */
.Chat__Input {
    width: 100%;
    position: relative;
}

.Chat__Input input {
    width: 100%;
    font-size: 1rem;
    line-height: 1.1rem;
    padding: .9rem 3.5rem .9rem .9rem;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    background-color: white;
    color: black;
    outline: none;
}

.InputSearch__Icon--end { 
    right: 1rem; 
    color: var(--main-color);
}

.ChatMessage__ChangeDay {
    padding: 5px 8px;
    font-size: .8rem;
    border: 1px solid #CFD8DC;
    border-radius: 50px;
    color: white;
    background-color: #CFD8DC;
    align-self: center;
    margin: .5rem 0;
}

.ChatMessage {
    margin-top: 8px;
    max-width: 90%;
    padding: 7px 1rem;
    border: 1px solid #eceff1;
    border-radius: 20px;
    letter-spacing: .5px;
    word-break: break-all;
    background-color: white;
}

.ChatMessage.ChatMessage--mine {
    align-self: flex-end;
    background-color: #eceff1;
}

.ChatMessage__Time {
    color: #888888;
    margin-left: 10px;
    font-size: .65em;
}

@media only screen and (min-width : 800px) {
    .ChatMessage {  border-radius: 50px; }
}