.SearchPanel {
    background: linear-gradient(-45deg, var(--main-color), var(--main-color-light));
    padding: 1rem;
    padding-bottom: 0;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    transition: all 1s ease;
}

.SearchPanel__Form { transition: all 1s ease; }
.SearchPanel--Hide { max-height: 58px; }
.SearchPanel--Hide .SearchPanel__Form { max-height: 0; }
.SearchPanel--Show { max-height: unset; }
.SearchPanel--Show .SearchPanel__Form { max-height: unset;  }

/* Title bar */
.SearchPanel__Title {
    position: relative;
    cursor: pointer;
}
.SearchPanel__Title h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
    margin-bottom: 1rem;
}

.SearchPanel__Title button {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    position: absolute;
    top: -.3rem;
    right: .75rem;
    outline: none;
    height: 100%;
    width: 50px;
    color: white;
}

.SearchPanel__Title button svg { font-size: 2rem; }

/* Filters */
.SearchPanel__Filters {  
    margin-top: 1rem;
    background-color: white;
    border-radius: .75rem;
}

.SearchPanel__FiltersGrid {  
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5rem;
    padding: 1rem;
    padding-bottom: 1.25rem;
}

.SearchPanel__Footer {
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.SearchPanel__Footer button:first-child { margin-right: .5rem; }
.SearchPanel__Footer button { width: 50%; outline: none; }

@media only screen and (min-width : 640px) {
    .SearchPanel__FiltersGrid { grid-template-columns: 1fr 1fr; }
    .SearchPanel__Footer button { width: 25% }
}

/* Filter by name */
.InputSearch {
    width: 100%;
}

.InputSearch .Input {
    width: 100%;
    font-size: 1rem;
    line-height: 1.1rem;
    padding: 1rem;
    border: 1px solid var(--main-color);
    border-radius: .75rem;
    background-color: white;
}

/* Animación del collapse del planel */

.SearchPanel__CollapseButton {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
.SearchPanel__CollapseButton svg { font-size: 3rem; }