/* Card list style */
.CardList {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: .5em;
    transition: all 150ms ease-in;
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    background-color: white;
    font-size: 16px;
}

.CardList:last-child { margin-bottom: 0; }

.CardList:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

/* Header image - left side */
.CardList__Header {
    width: 120px;
    min-width: 90px;
    min-height: 110px;
    border-radius: 5px;
    position: relative;
}

.CardList__Header .AdvertChip {
    position: absolute;
    left: 5px;
}

.CardList__Header .AdvertChip.AdvertChip__status { bottom: 5px; }
.CardList__Header .AdvertChip.AdvertChip__type { top: 5px; }

.CardList__Header img, .CardList__Header a {
    width: 100%;
    min-height: 110px;
    border-radius: 5px;
    object-fit: cover;
}

/* Body - Text descriptions */
.CardList__Body {
    display: flex;
    flex-direction: row !important;
    align-content: space-around !important;
    align-items: center;
    padding: 0 .5em;
    width: 100%;
}

.CardList__Dates {
    display: flex;  
    flex-direction: row;
}

.CardList__Actions {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.CardList__Actions .ButtonWallaclone {
    background-color: transparent;
    color: var(--medium-grey);
    min-width: 0;
    width: 35px;
    height: 35px;
    padding: 0;
    font-size: .5em;
    border: 1px solid rgba(207,216,220,.5);;
    margin-right: 3px;
}

.CardList__Actions .ButtonWallaclone svg {
    font-size: 1rem;
    transition: all 200ms ease-in;
}

.CardList__Actions .ButtonWallaclone:hover {
    color: white;
}

.CardList__Actions .ButtonWallaclone:hover .FavoriteIcon {
    color: red;
    transform: scale(1.1); 
}

.CardList__Status {
    background: rgba(255, 255, 255, .8);
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.CardList__Status img {
    width: 100%;
    height: 100%;
}

.CardList__Date {
    font-size: 1em;
    display: flex;
    flex-direction: column;
}

.CardList__Date:first-child { margin-right: 1em; }

.CardList__Title {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    margin-bottom: .35em;
}

.CardList__Date .Title {
    color: black;
    font-size: .9em;
    font-weight: bold;
    margin-bottom: .35em;
}

.CardList__Title a {
    color: var(--medium-grey);
    font-size: 1em;
}

.CardList__Date .SubTitle {
    font-size: .85em;
    color: gray;
}

.CardList__Main {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: flex-start;
    margin: 0 1em;
    flex-grow: 1;
}

.CardList__Main .CardList__Price {
    display: flex;
    flex-direction: row;
}

.CardList__Main .CardList__Price span { margin: 0 5px; }
.CardList__Tags .AdvertChip:not(:last-child) { margin-right: 3px; }

@media (max-width: 500px) {
    .CardList { font-size: 13x; }
    .CardList__Main { margin: 0 !important; }
    .CardList__Dates { display: none; }
    .CardList__Body { flex-wrap: wrap; }
    .CardList__Actions {
        margin-top: 5px;
        justify-content: flex-start;
        flex-basis: 100%;
    }
    .CardList__Actions .ButtonWallaclone {
        height: 30px;
        width: 30px;
    }
}

@media (max-width: 750px) {
    .CardList { font-size: 14px; }
    .CardList__Main { margin: 0 .5em; }
    .CardList__Dates { margin: 0 .5em; }
    .CardList__Actions { width: 90px; }    
}

@media (max-width: 900px) {
    .CardList__Dates { flex-direction: column;}
    .CardList__Date:not(:last-child) { margin: 0 0 6px 0; }
    .CardList__Date .Title { margin: 0; }
}
