.NavBar {
  width: 100%;
  background: linear-gradient(-45deg, var(--main-color), var(--main-color-light));
  color: white;
  transition: 200ms all ease-in-out;
  position: fixed;
  z-index: 1000;
  top: 0;
  height: var(--navbar-height) !important;
}

.NavBar__Toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 !important;
}

.NavBar--show { transform: translateY(0); }
.NavBar--hide { transform: translateY(-100%); }

/* Logo */
.NavBar__Brand {
  height: 43px;
  width: 43px;
}

.NavBar__Brand--Xs { display: block; }
.NavBar__Brand--Lg { display: none; }

/* Botones derecha */
.NavBar__Right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Navbar menu item */
.Navbar__MenuItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 46px;
}

.Navbar__MenuItem .Avatar { 
    height: 24px; 
    width: 24px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 2px #999, 0 2px 4px 2px rgba(0,0,0,.3);
}

.Navbar__MenuItem:hover { background-color: rgba(0,0,0,.5)}
.Navbar__MenuItem svg { height: 25px; width: 25px; }
.Navbar__MenuItem span { font-size: .75rem; margin-top: 3px; }

@media only screen and (min-width : 600px) {
    .NavBar__Toolbar { min-height: 60px !important; }
    .NavBar__Brand { width: 155px; }
    .NavBar__Brand--Xs { display: none; }
    .NavBar__Brand--Lg { display: block; }
    .Navbar__MenuItem { max-width: unset; }    
}