.Loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Loading__Spinner {
    width: 125px;
    justify-self: center;
    align-self: center;
    display: block;
}

.Loading__Text {
    color: var(--main-color-dark);
    letter-spacing: .35px;
    text-transform: lowercase;
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
}