<!DOCTYPE html>
<html>
  <!-- HEAD -->
  <head>
    <% include ../partials/head %>
  </head>
  <!-- BODY -->      
  <body>
    <!-- Header -->
    <header>
      <%- include('../partials/header', {active:'home'}) %>
    </header>
    <!-- Main -->           
    <main class='container mt-5'>
      <div class='row'>
        <div class='col-12 text-center my-4'>
          <a href="/"><%=__('Back')%></a>
        </div>
        <div class='col-12 text-center mb-4'>
          <img src="/images/static/404.png" alt='404'>
        </div>
      </div>
    </main>    
    <!-- Footer -->
    <footer class='py-5 bg-dark'>
      <% include ../partials/footer %>
    </footer>
    <!-- Bootstrap js -->
    <% include ../partials/bootstrap %>
  </body>
</html>