/* Panel */
.ChatPanel {
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

/* Sidebar */
.ChatPanel__Menu {
    border-right: 1px solid #eceff1;
    overflow-y: scroll;
    min-width: 350px;
}

.ChatPanel__Chat {
    flex-grow: 1;
}

/* Main */
.ChatPanel__Chat {
    display: flex;
    flex-direction: column;
}

.ChatPanel__User {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 1px solid #eceff1;
}

/* Chat */
.ChatMessage__ChangeDay {
    padding: 5px 8px;
    font-size: .8rem;
    border: 1px solid #CFD8DC;
    border-radius: 50px;
    color: white;
    background-color: #CFD8DC;
    align-self: center;
    margin: .5rem 0;
}

.ChatPanel__Messages {
    padding: 1rem;
    display: flex;    
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
}

.ChatMessage {
    margin-top: 8px;
    max-width: 90%;
    padding: 7px 1rem;
    border: 1px solid #eceff1;
    border-radius: 50px;
    letter-spacing: .5px;
}

.ChatMessage.ChatMessage--mine {
    background-color: #eceff1;
    align-self: flex-end;
}

.ChatMessage__Time {
    color: #888888;
    margin-left: 10px;
    font-size: .65em;
}

