/* Panel */
.ChatList {
    display: flex;
    background-color: white;
    overflow: hidden;
    height: 100vh;
}

.ChatList__Hide--true .ChatList__Menu { display: block;}
.ChatList__Hide--false .ChatList__Menu { display: none; }
.ChatList__Hide--true .ChatList__Main { display: none;}
.ChatList__Hide--false .ChatList__Main { display: block; }

/* Sidebar */
.ChatList__Menu {
    border-right: 1px solid #eceff1;
    overflow-y: auto;
    width: 100%;
}
.ChatList__Menu .Loading { margin: 1.5rem 0; }

/* Conversation */
.ChatList__Main {
    width: 100%;
    transition: all .3s ease-in;
}

/* Media queries */
@media only screen and (min-width : 800px) {
    .ChatList__Menu { max-width: 350px; }
    .ChatList__Hide--false .ChatList__Menu { display: block; }
    .ChatList__Hide--true .ChatList__Main { display: block;}
}